.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-medium);
    width: 100%;
    z-index: 1000;
}


.header ul{
    display: flex;
    list-style: none;   
    justify-content: center;
    padding: 0;
}

.header li { 
    margin: 0 10px;
    padding: 10px; 
    
}

.header li a{
    text-decoration: none;
    color: var(--color-darkest); 
    transition: 0.5s color;
}

.header li a:hover{
    color: var(--color-lightest);
}

