.services-container {
    box-sizing: border-box;
    font-weight: 300;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.services-container * {
    box-sizing: border-box;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: 20px; 
    padding: 30px; 
    color: black;
    background-color: #f8f9fa;
    
}

.services > header {
    text-align: center;
    width: 100%;
    margin-bottom: 0px; /* Space between header and columns */
    font-size: 2em;
}

.services > .column {
    display: flex;
    width: 300px; 
    margin-left: 10px;
    flex-direction: column;
    flex: 1; /* Assigns flex-grow, flex-shrink, and flex-basis to 1 */
    background-color: var(--color-darker);
    color: var(--color-lightest);
    box-shadow: 0 0 10px rgba(0,0,0,0.50);
}

.services > .column:nth-child(4){
  margin-right: 10px;
}

.column h4{
    text-align: center;
    font-size: 1.5em;
}

.column .price{
    text-align: center;
    padding: 5px;
    margin: 0;
    font-size: 1.5em;
    height: 50px;
    background-color: var(--color-light-medium);
    color: var(--color-darkest);
}

.price span{
    font-weight: 600;
}

/* List item styling */
.column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.column li {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.column li:last-child {
    border-bottom: none;
}

.column li:nth-child(even) {
    background-color: var(--color-dark);
    color: var(--color-lightest);
}

.column .contact-us {
    background-color: var(--color-light-medium);
    color: var(--color-darkest);
    border: none;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s background-color;
    text-decoration: none;
}

.column .contact-us:hover {
    background-color: var(--color-lightest);
}

.column .contact-us a{
    text-decoration: none;
    color: var(--color-darkest);
    
}

/* Additional style to place columns side by side */
@media (min-width: 960px) {
    .services {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .services > .column {
        /* Optional: Set a minimum width */
        min-width: 250px; /* Adjust as needed */
    }
}




 
 