.services-container {
    box-sizing: border-box;
    font-weight: 300;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.services-container * {
    box-sizing: border-box;
}

.services-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.services-container section > header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Space between header and columns */
}

.services-container section > .column {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.50);
    width: 300px;
    margin: 10px;
}

/* Additional style to place columns side by side */
@media (min-width: 960px) {
    .services-container section {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}




 
 