main.main-content{
  padding-top: 50px;
  padding-left: 50px;
  align-items: center;
  height: 100vh;
  color: #f2f2f2;
}

.welcome-message{
  text-align: left;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: #f2f2f2;
}
.welcome-message h1{
  font-size: 200px;
}
