h2{
  font-size: 100px; 
  margin: 0; 
}

section{
  padding-left: 50px; 
}

main.main-content{
  align-items: center;
  height: 100vh;
  color: #f2f2f2;
}

.company-logo{
  text-align: left;
  padding-left: 50px; 
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2em; 
}

.company-logo p{ 
  margin: 0; 
}

.company-logo h1{
  margin-bottom: 0; 
}

#welcome-message{ 
  font-weight: 100; 
  font-size: 100px;
}

/* #about-us{ 
  
} */
